// Define variables for your color scheme

$brand-color: #55B49E;

$dark-blue: #2F4858;
$light-blue: #33658A;
$light-orange: #F6AE2D;
$ruby: #ED254E;
$light-grey: #F3F4F5;


.priority_1 {
  color: #F6AE2D;
}

.priority_2 {
  color: #ED254E;
}

.priority_3 {
  color: #2F4858;
}
