<% @conversations.each do |conversation| %>
<p><%= conversation.sender.email %> / <%= conversation.receiver.email %></p>
  <%= link_to 'View conversation', conversation_path(conversation) %>
<%  end %>
  <%#= link_to 'New conversation', new_conversation_path(conversation) %>
