<div class="footer">
    <img src="https://res.cloudinary.com/maximelpy/image/upload/v1606408308/buddy/Filter_n6otoo.png" alt="">
    <img src="https://res.cloudinary.com/maximelpy/image/upload/v1606408308/buddy/Graph_lwnrps.png" alt="">
    <img src="https://res.cloudinary.com/maximelpy/image/upload/v1606408308/buddy/Message_zipjbq.png" alt="">
</div>
