<div class="footer">

  <%= link_to connections_path do %>
    <img src="https://res.cloudinary.com/maximelpy/image/upload/v1606408308/buddy/Filter_n6otoo.png" alt="connections">
  <% end %>

  <%= link_to connections_path do  %>
    <img src="https://res.cloudinary.com/maximelpy/image/upload/v1606408308/buddy/Graph_lwnrps.png" alt="ideas">
  <% end %>

  <%= link_to connections_path do %>
    <img src="https://res.cloudinary.com/maximelpy/image/upload/v1606408308/buddy/Message_zipjbq.png" alt="messages">
  <% end %>

</div>
