.footer {
display: flex;
position: fixed;
justify-content: space-between;
align-items: center;
width: 100%;
min-height: 80px;
left: 0px;
bottom: 0px;
background-color: $light-grey;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
}

.footer a {
  align-items: center;
  width: 52px;
  height: 52px;
  margin-right: 10px;
  margin-left: 10px;
}

