.btn {
  border-radius: 5px;
  background-color: #33658A;
  margin-top: 15px;
  width: 100%;
}


.btn a {
  text-decoration: none;
  color: white;
}

.btn-profile {
  border-radius: 5px;
  background-color: #33658A;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.btn-profile:hover {
  background-color: #55B49E;
}

a.btn-profile {
  color: white;
  text-decoration: none;
  align-content: center;
  font-weight: 300;
}

.button-edit{
  border: none;
  width:50px;
  height:50px;
  background-color: transparent;
  color:#33658A;
  float: right;
  display: flex;
  justify-content: space-between;

}

#edit-photo{
  width: 50%;
  border-radius: 5px;
  background-color: #ED254E;
}

#edit_address{
  border-radius: 10px;
  border-color: #55B49E;
}
#edit-form-box{
   border-radius: 10px;
  border-color: #55B49E;
}

.button-update{
  display: block;
  border-radius: 5px;
  background-color: #55B49E;
  margin-top: 15px;
  color: white;
  transition: background 0.3s ease;
  border: 1px solid #55B49E;
  text-align: center;
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;

}
.button-update:hover{
  background-color: #55B49E;
  color: white;
  border: 1px solid #55B49E;

}

.button-edit {
  .fas:hover {
    color: #55B49E;
    text-decoration: none;
  }
}
