.container-body {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 100px;
}

img {
  width: 52px;
  height: 52px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

#title {
  text-align: center;
}
.connections {
  width:100%;
}

.connections-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-connection {
    width: calc(100% - 40px);
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    padding-left: 40px;
    margin-left: 40px;
    margin-top: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-connection-details {
  padding-top: 12px;
  padding-bottom: 12px;
}

.card-connection-details h1 {
  color: #55B49E;
}

.card-connection-details h2{
  font-size: 16px;
}

.card-image {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 26px;
  left: -30px;
  border-radius: 5px;
}

.job-container {
    flex-direction: row;
    width: calc(100% - 60px);
    margin-left: 60px;
    margin-bottom: 20px;
}

.job-card{
  position: relative;
  display: flex;
  background-color: white;
  // border: 1px solid $brand-color;
  border-radius: 3px;
  padding-left: 20px;
  margin-top: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 5px;
  padding-bottom: 5px;
}

.job-card h1 {
  font-weight: 400;
  padding: 5px;
  font-size: 16px;
  margin: 0;
}

.job-card h3 {
  color: #2F4858;
  vertical-align: center;
  font-weight: 400;
  margin-left: 5px;
  padding: 5px;
}

.priority_1 {
  color: #F6AE2D;
  margin-bottom: 0;
}

.priority_2 {
  color: #ED254E;
  margin-bottom: 0;
}

.priority_3 {
  color: #2F4858;
  margin-bottom: 0;
}

.job_priority_1 {
  border-left: 3px solid #F6AE2D;
}

.job_priority_2 {
  border-left: 3px solid #ED254E;
}

.job_priority_3 {
  border-left: 3px solid #2F4858;
}


.container-profile{
  margin:20px;
  margin-top: 50px;
  padding:20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.job-desc-container{
  width: 100%;
  position:relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.container_ideas {

}

#pie-chart-industry {

}

#area-chart-industry {

}

#pie-chart-job-title {

}

#area-chart-job-title {

}

#area-chart-total {

}

