.container-body {
  margin-top: 116px;
  }

img {
  width: 52px;
  height: 52px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
}


.card{
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  padding-left: 40px;
  margin-left: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-connection-details {
  padding-top: 12px;
  padding-bottom: 12px;
}

.card-connection-details h2{
  font-size: 16px
}

.card-image {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 26px;
  left: -30px;
  border-radius: 5px;
}
